<form [formGroup]="creditForm" (ngSubmit)="onSubmit()">
    <app-input label="Name" [control]="creditForm.controls.name" [label]="'Name'"></app-input>
    <app-input label="Card Number" [control]="creditForm.controls.cardNumber"></app-input>
    <app-input label="Exp." [control]="creditForm.controls.expiration"></app-input>
    <app-input label="CVV" [control]="creditForm.controls.securityCode"></app-input>
    <div class="control">
      <button [disabled]="creditForm.invalid" class="button is-link">Submit</button>
    </div>
</form>
<div>{{ creditForm.value | json }}</div>
<div>Form is valid {{ creditForm.valid }}</div>
<div>Form Errors {{ creditForm.controls.name.errors | json }}</div>
